* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-container {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #008ba6; */
  background-color: #013f4e;
  /* opacity: 0.79; */
}

.home-banner-text {
  padding-bottom: 1rem;
}

.home-banner-text h1 {
  color: #e6e7e8;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "SF nexa-bold", Arial, sans-serif;
}

.home-banner-text p {
  color: #e6e7e8;
  font-size: 18px;
  font-family: "SF nexa-light", Arial, sans-serif;
}

.home-btn button {
  border: 1px solid #008ba6;
  padding: 5px 20px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  background-color: transparent;
}

.home-btn button:hover {
  background-color: #008ba6;
}

.home-banner img {
  width: 100%;
}

/* Home Slider CSS */

.banner-slider {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-item {
  position: relative;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  background: #008ba6c2;
  color: white;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.home-banner-text-top {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.home-banner-heading {
  padding: 50px;
  width: 100%;
  max-width: 50%;
  margin: auto;
  text-align: center;
}

.home-banner-heading h2 {
  font-size: 45px;
  letter-spacing: 1px;
  font-family: "SF nexa-bold", Arial, sans-serif;
  text-transform: uppercase;
}

.home-banner-heading p {
  font-size: 15px;
  letter-spacing: 1px;
  color: #e6e7e8;
  font-family: "SF nexa-light", Arial, sans-serif;
}

.home-banner-text-bottom {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 120px;
  padding-right: 2rem;
  position: relative;
  z-index: 999999;
  background-color: #008ba6;
}

.home-banner-text-bottom-handler {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-family: "SF nexa-bold", Arial, sans-serif;
}

.slider-image {
  width: 400px;
  height: auto;
}

/* Navigation buttons */
.slider-button-prev,
.slider-button-next {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  width: 40px;
  font-size: 1px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all;
}

.slider-button-prev:hover,
.slider-button-next:hover {
  background-color: white;
  color: #008ba6;
}

/* About US Section Css */
.blockdiv {
  height: 100%;
  background: #013f4e;
  max-width: 70px;
  width: 100%;
  margin-left: -10px;
}

.about-wrp h2 {
  font-size: 35px;
  color: #008ba6;
  padding: 0px 10px;
  font-family: "SF nexa-bold", Arial, sans-serif;
}

.about-wrp {
  padding: 35px 40px;
}

.about-wrp p {
  font-family: "SF nexa-light", Arial, sans-serif;
  line-height: 1.65;
  letter-spacing: 0.125px;
  text-align: justify;
  font-size: 16px;
  margin-bottom: 20px;
  color: #013f4e;
}

/* Platform Section Css */
.box-wrapper-3 a {
  text-decoration: none;
}

.box-wrapper-3 h3 {
  background: transparent;
  text-align: center;
  margin: 0;
  color: white;
  font-size: 20px;
  line-height: 1.2;
  padding: 0px 10px;
  font-family: "SF nexa-bold", Arial, sans-serif;
}

.pt-col {
  background-color: #013f4e;
  position: relative;
}

.pt-col h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  position: absolute;
  color: #ffffff;
  font-family: "SF nexa-bold", Arial, sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pt-col-sm {
  -webkit-transition: 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -o-transition: 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.pt-col-sm:hover {
  z-index: 4;
  -webkit-box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.35);
  position: relative;
}

.pt-col-sm:hover .pt-wrap p {
  -webkit-transform: translate3d(0, -50%, 0) scale(1, 1);
  transform: translate3d(0, -50%, 0) scale(1, 1);
  opacity: 1;
  color: #e6e7e8;
  font-family: "SF nexa-light", Arial, sans-serif;
}

.pt-col-sm:hover .pt-wrap:after {
  opacity: 1;
}

.pt-head-wrap {
  height: 90px;
  background: transparent;
  position: relative;
}

.pt-head-wrap h3 {
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "SF nexa-bold", Arial, sans-serif;
}

.pt-wrap {
  position: relative;
}

.pt-wrap p {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate3d(0, -50%, 0) scale(0.9, 0.9);
  transform: translate3d(0, -50%, 0) scale(0.9, 0.9);
  padding: 0 20px;
  margin: 0 !important;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -o-transition: 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "SF nexa-light", Arial, sans-serif;
}

.pt-wrap:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: rgba(47, 48, 50, 0.85);
  -webkit-transition: 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -o-transition: 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.pt-col-sm:hover .pt-wrap p {
  -webkit-transform: translate3d(0, -50%, 0) scale(1, 1);
  transform: translate3d(0, -50%, 0) scale(1, 1);
  opacity: 1;
}

.pt-col-sm:hover .pt-wrap:after {
  opacity: 1;
}

/* Carig Internation Section Css */
.craig-break {
  display: block;
}

.home-craig-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #013f4e;
}

.home-craig-left {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #013f4e;
}

.home-craig-left img {
  width: 100%;
  height: 100%;
}

.craig-heading h2 {
  font-size: 50px;
  text-transform: uppercase;
  color: #e6e7e8;
  letter-spacing: 1px;
  padding-bottom: 1rem;
  font-family: "SF nexa-bold", Arial, sans-serif;
}

.craig-para p {
  font-size: 16px;
  color: #e6e7e8;
  letter-spacing: 1px;
  padding-bottom: 1rem;
  font-family: "SF nexa-light", Arial, sans-serif;
}

.home-craig-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  background-color: #013f4e;
}

.home-craig-right-cover {
  width: 100%;
  max-width: 70%;
  margin: auto;
}

/* Add Media Quries */
@media only screen and (max-width: 1350px) {
  .craig-heading h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .home-banner-text h1 {
    font-size: 35px;
  }

  .craig-heading h2 {
    font-size: 35px;
  }

  .pt-col h2 {
    font-size: 25px;
  }

  .pt-head-wrap h3 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .row-home-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .main-container {
    height: auto;
    padding: 2rem 0px;
  }

  .home-banner-heading {
    max-width: 100%;
    margin: auto;
    text-align: center;
  }

  .about-wrp {
    padding: 0;
  }

  .about-container {
    max-width: 90%;
  }

  .craig-break {
    display: none;
  }

  .pt-col h2 {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    text-align: center;
    padding: 50px 10px;
  }

  .pt-wrap p {
    opacity: 1;
  }

  .pt-wrap:after {
    opacity: 1;
  }

  .home-craig-container {
    height: 400px;
  }

  .portfolio-container {
    width: 100%;
    max-width: 90% !important;
  }

  .home-craig-right-cover {
    max-width: 90%;
  }

  .craig-heading h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .home-banner-heading {
    padding: 15px;
  }

  .home-banner-heading h2 {
    font-size: 35px;
  }

  .home-banner-text h1 {
    font-size: 26px;
  }

  .home-banner-text p {
    font-size: 16px;
  }

  .home-craig-container {
    flex-direction: column;
    height: 100%;
  }

  .home-craig-right {
    padding: 50px 0px;
  }

}

@media only screen and (max-width: 578px) {
  .home-btn {
    text-align: center;
  }

  .home-btn button {
    padding: 3px 15px;
    font-size: 16px;

  }

  .home-banner-heading h2 {
    font-size: 28px;
  }

  .home-banner-text h1 {
    font-size: 27px;
  }

  .home-banner-text-bottom-handler {
    font-size: 13px;
  }

  .about-wrp h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .home-banner-text-bottom-handler {
    gap: 1rem;
  }

  .home-banner-text h1 {
    font-size: 22px;
  }
}