.supply-container {
  /* background: url("https://images.unsplash.com/photo-1639478795771-b3c1b0d1a6f6"); */
  background: url("../Assets/images/slider3.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.supply-content {
  max-width: 768px;
  text-align: center;
  z-index: 1;
}

.supply-content h1 {
  font-size: 5rem;
  color: #aa5a29;
  font-family: "SF nexa-bold", Arial, sans-serif;
}

.overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.supply-carousel-text {
  opacity: 0;
  font-family: "SF nexa-light", Arial, sans-serif;
  text-transform: capitalize;
  color: #e6e7e8;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.supply-text-carousel {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}


/* Banner Image-Text Section CSS code start from here */
.supply-tech-bg {
  background-color: #e6e7e8;
  margin: 30px 0px;
}

.supply-tech {
  display: flex;
  align-items: center;
}

.supply-tech-rotate {
  display: flex;
  align-items: center;
}

.supply-content-title {
  font-size: 35px;
  line-height: 64px;
  color: #333;
  margin-bottom: 10px;
  text-align: start;
  font-family: "SF nexa-bold", Arial, sans-serif;
  text-transform: uppercase;
}

.supply-content-description {
  color: #333;
  margin-bottom: 10px;
  text-align: start;
  font-size: 16px;
  font-family: "SF nexa-light", Arial, sans-serif;
}

.supply-content-sub-heading {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}

.supply-tech-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.supply-tech-logo img {
  width: 100%;
  max-width: 90%;
  height: auto;
}


/* add @media quries start here */
@media (max-width: 1400px) {
  .supply-content-title {
    font-size: 27px;
  }
}

@media only screen and (max-width: 1150px) {
  .carousel-text {
    font-size: 25px;
  }

  .supply-content h1 {
    font-size: 2.5rem;
  }

}

@media only screen and (max-width: 992px) {
  .supply-content-title {
    text-align: center;
  }

  .supply-content-description {
    text-align: center;
    font-size: 14px;
  }


  .supply-tech-logo img {
    max-width: 100%;
  }

  .supply-content-description-align {
    text-align: center;
  }

  .supply-tech-rotate {
    padding: 50px 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .supply-content-title-align {
    text-align: center;
  }

  .supply-content-sub-align {
    text-align: center;
  }

  .supply-tech {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .supply-tech-rotate {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .supply-tech-logo {
    margin: 10px 0px;
  }

  .supply-content-title {
    font-size: 35px;
  }
}

@media only screen and (max-width: 767px) {


  .carousel-text {
    font-size: 22px;
  }

  .supply-content h1 {
    font-size: 2rem;
  }

  .supply-content-title {
    font-size: 27px;
  }

  .supply-content-description {
    font-size: 14px;
  }

  .col {
    flex: unset !important;
  }
}

@media only screen and (max-width: 500px) {

  .carousel-text {
    font-size: 20px;
    padding: 0px 0.5rem;
  }

  .supply-content h1 {
    font-size: 1.7rem;
  }

  .supply-content-title {
    font-size: 20px;
    line-height: 35px;
  }
}